# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# System junk
.DS_Store
Thumbs.db

# Data files
*.csv
*.xlsx

# PDFs or large refs
*.pdf
*.epub

# VS Code settings (optional)
.vscode/

# Conda environment folders (if any)
env/

# Ignore all virtual environments
*/fastai-env/